<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="assets/img/barbmarcar.jpg" alt=""
                        style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Objetivo</h6>
                <h1 class="mb-4">Seja você também um <span class="text-primary">Modelo</span></h1>
                <p class="mb-4">O propósito do nosso projeto é proporcionar uma experiência inovadora e fornecer todos
                    os serviços de barbearia a custo zero. </p>
                <p class="mb-4">Disponibilizamos os maiores centros de formação de profissionais no ramo da beleza para
                    te atender da melhor forma.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Equipamentos Profissionais
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Espaço Amplo e Higienizado
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Intrutores Certificados</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Próximo a centros comercias
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Experiência Diferenciada</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Totalmente Gratuito</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="#" id="open-modal" data-toggle="modal"
                    data-target="#modalAgendar">Agendar</a>
            </div>
        </div>
    </div>
</div>
