<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <app-container text=""></app-container>
    <div class="container">
        <div class="booking  p-5">

            <app-card text=""></app-card>

            <div class="row g-5 align-items-center">
                <app-input inputs=""></app-input>
                <div class="col-md-6 text-white">
                    <h6 class="text-white text-uppercase">Matricule-se</h6>
                    <h1 class="text-white mb-4">Tenha seu próprio negócio!</h1>
                    <p class="mb-4">Muitos jovens hoje em dia estão conseguindo sua tão sonhada independência financeira
                        colocando em prática os ensinamentos dos nosso cursos de barbeiro.</p>
                    <p class="mb-4">Venha adquirir seu certificado e se torne um barbeiro profissional com a plataforma
                        que mais divulga o trabalho dos visionários de tesoura e máquina.</p>
                    <a class="btn btn-outline-light py-3 px-5 mt-2" href="">Saiba Mais</a>
                </div>
                <div class="col-md-6">
                    <h1 class="text-white mb-4">Pré-Cadastro</h1>
                    <app-input inputs=""></app-input>
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control bg-transparent" id="name"
                                        placeholder="Your Name">
                                    <label for="name">Seu Nome</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control bg-transparent" id="email"
                                        placeholder="Your Email">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating date" id="date3" data-target-input="nearest">
                                    <input type="text" class="form-control bg-transparent datetimepicker-input"
                                        id="datetime" placeholder="Date & Time" data-target="#date3"
                                        data-toggle="datetimepicker" />
                                    <label for="datetime">Data de Nascimento</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select bg-transparent" id="select1">
                                        <option value="1">Casa do Menor S.M.A</option>
                                        <option value="2">Instituto Embelleze</option>
                                        <option value="3">Senac</option>
                                    </select>
                                    <label for="select1">Intituição</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control bg-transparent" placeholder="Special Request"
                                        id="message" style="height: 100px"></textarea>
                                    <label for="message">Possui alguma deficiência? Se sim, descreva: </label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-outline-light w-100 py-3" type="submit">Finalizar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>







































