<div class="container my-5 bg-white">
  <h3 class="titulo3">Agendamentos</h3>
  <div>
    <h4>Manhã</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Turma</th>
          <th scope="col">Data</th>
          <th scope="col">Cliente</th>
          <th scope="col">Idade</th>
          <th scope="col">Responsável</th>
          <th scope="col">Celular</th>
          <th scope="col">Código de Confirmação</th>
        </tr>
      </thead>
      <tbody *ngFor="let sched of schedulings">
        <tr *ngIf="sched.period == 'Manha'">
          <td scope="row">{{ sched.nameLesson }}</td>
          <td>{{ sched.date }}</td>
          <td>{{ sched.nameClient }}</td>
          <td>{{ sched.age }}</td>
          <td>{{ sched.responsible }}</td>
          <td>{{ sched.phoneNumber }}</td>
          <td>{{ sched.confirmationCode }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h4>Tarde</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Turma</th>
          <th scope="col">Data</th>
          <th scope="col">Cliente</th>
          <th scope="col">Idade</th>
          <th scope="col">Responsável</th>
          <th scope="col">Celular</th>
          <th scope="col">Código de Confirmação</th>
        </tr>
      </thead>
      <tbody *ngFor="let sched of schedulings">
        <tr *ngIf="sched.period == 'Tarde'">
          <td scope="row">{{ sched.nameLesson }}</td>
          <td>{{ sched.date }}</td>
          <td>{{ sched.nameClient }}</td>
          <td>{{ sched.age }}</td>
          <td>{{ sched.responsible }}</td>
          <td>{{ sched.phoneNumber }}</td>
          <td>{{ sched.confirmationCode }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h4>Noite</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Turma</th>
          <th scope="col">Data</th>
          <th scope="col">Cliente</th>
          <th scope="col">Idade</th>
          <th scope="col">Responsável</th>
          <th scope="col">Celular</th>
          <th scope="col">Código de Confirmação</th>
        </tr>
      </thead>
      <tbody *ngFor="let sched of schedulings">
        <tr *ngIf="sched.period == 'Noite'">
          <td scope="row">{{ sched.nameLesson }}</td>
          <td>{{ sched.date }}</td>
          <td>{{ sched.nameClient }}</td>
          <td>{{ sched.age }}</td>
          <td>{{ sched.responsible }}</td>
          <td>{{ sched.phoneNumber }}</td>
          <td>{{ sched.confirmationCode }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
