<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <app-container text=""></app-container>
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Comentários</h6>
            <h1 class="mb-5">O que estão falando sobre nós!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item bg-white text-center border p-4">
                <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Sophia Santos</h5>
                <p>Incrível!!</p>
                <p class="mb-0">Brabo demais.</p>
            </div>
            <div class="testimonial-item bg-white text-center border p-4">
                <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">João Venancio</h5>
                <p>Sensacional</p>
                <p class="mt-2 mb-0">Explendido, realmente um belo trabalho..</p>
            </div>
            <div class="testimonial-item bg-white text-center border p-4">
                <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Rodrigo Gomes</h5>
                <p>Inovador</p>
                <p class="mt-2 mb-0">Me surpreendeu, diferente de tudo que vi.</p>
            </div>
            <div class="testimonial-item bg-white text-center border p-4">
                <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Samantha Souza</h5>
                <p>Surpreendente</p>
                <p class="mt-2 mb-0">Como meu pai costuma dizer: De graça até injeção na testa.</p>
            </div>
        </div>
    </div>
</div>