<div class="central">
    <div>
        <br>
        <br>

    <h2 id="titulo">Login</h2>
   
       
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email">
              
            </div>
            <div class="mb-3">
              <label for="senha" class="form-label">senha:</label>
              <input type="senha" class="form-control" id="senha">
            </div>
            <div>
            <button  class="btn btn-secondary">Entrar</button>
           
        </div>
        <div>
            <p ></p>
        </div>
        
    </div>
    
    
    </div>
    <br>
    <br>
