<!-- <div class="container">
  <div class="card">
    <div class="card-body">
      <h4>Login</h4>

      <form #f="ngForm" (ngSubmit)="send(f)">

        <app-input name="Senha" [(ngModel)]="datas.password" type="password ">
        </app-input>
      </form>
      <app-button text="Entrar"></app-button>
    </div>
  </div>
</div> -->

<main class="m-auto d-flex flex-column align-items-center">
  <div
    id="container-form"
    class="m-auto d-flex flex-column align-items-center rounded bg-light"
  >
    <h4>Login</h4>
    <form
    #f="ngForm" (ngSubmit)="send(f)"
      class="d-flex justify-content-center align-items-center flex-column"
    >
      <app-input name="Email" [(ngModel)]="datas.email" type="email">
      </app-input>
      <app-input name="Senha" [(ngModel)]="datas.password" type="password ">
      </app-input>

      <p class="text-start">Esqueceu a senha?</p>

      <button type="button" class="btn btn-primary" type="ngSubmit">
        Entrar
      </button>
    </form>
    <a class="nav-link links mt-3" href="../Home/home.jsp">
      <h6>
        <b> Retornar ao site</b>
      </h6>
    </a>
  </div>
</main>
