<form #f="ngForm" (ngSubmit)="send(f)">
  <app-input name="Nome do curso" [(ngModel)]="datas.segment"></app-input>
  <app-input name="Periodo do curso" [(ngModel)]="datas.period"></app-input>
  <app-input name="Professor responsável" [(ngModel)]="datas.professor"></app-input>
  <app-input name="Quantidade de estudantes" [(ngModel)]="datas.students"></app-input>
  <app-input name="Hora de inicio do curso" [(ngModel)]="startTime"></app-input>
  <app-input name="Hora de término do curso" [(ngModel)]="endTime"></app-input>
</form>
<app-button text="Cadastrar"></app-button>
