<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Cursos Disponiveis</h6>
            <h1 class="mb-5">Maquiagem</h1>
        </div>
        <div class="row g-4 justify-content-center">

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="badge bg-primary text-wrap" style="width: 5rem;">
                    Presencial
                </div>
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/maquiadora-2.jpeg" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i
                                class="fa fa-map-marker-alt text-primary me-2"></i>Centro</small>
                        <small class="flex-fill text-center border-end py-2"><i
                                class="fa fa-calendar-alt text-primary me-2"></i>5 dias</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>10
                            Vagas</small>
                    </div>
                    <div class="text-center p-4">

                        <h3 class="mb-0">Maquiadora</h3>

                        <p>Turmas disponiveis no Senac RJ.</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-primary px-3"
                                style="border-radius: 0 30px 30px 0;">Agendar</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Exemplo de card adicional para curso de Maquiagem -->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="badge bg-primary text-wrap" style="width: 5rem;">
                    Presencial
                </div>
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="caminho-da-imagem.jpg" alt="Descrição da imagem">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i
                                class="fa fa-map-marker-alt text-primary me-2"></i>Localização</small>
                        <small class="flex-fill text-center border-end py-2"><i
                                class="fa fa-calendar-alt text-primary me-2"></i>Duração do curso</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Vagas
                            disponíveis</small>
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">Título do Curso</h3>
                        <p>Descrição do curso.</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-primary px-3"
                                style="border-radius: 0 30px 30px 0;">Agendar</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Exemplo de card adicional para curso de Maquiagem -->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="badge bg-primary text-wrap" style="width: 5rem;">
                    Presencial
                </div>
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="caminho-da-imagem.jpg" alt="Descrição da imagem">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i
                                class="fa fa-map-marker-alt text-primary me-2"></i>Localização</small>
                        <small class="flex-fill text-center border-end py-2"><i
                                class="fa fa-calendar-alt text-primary me-2"></i>Duração do curso</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Vagas
                            disponíveis</small>
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">Título do Curso</h3>
                        <p>Descrição do curso.</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-primary px-3"
                                style="border-radius: 0 30px 30px 0;">Agendar</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Exemplo de card adicional para curso de Maquiagem -->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="badge bg-primary text-wrap" style="width: 5rem;">
                    Presencial
                </div>
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="caminho-da-imagem.jpg" alt="Descrição da imagem">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i
                                class="fa fa-map-marker-alt text-primary me-2"></i>Localização</small>
                        <small class="flex-fill text-center border-end py-2"><i
                                class="fa fa-calendar-alt text-primary me-2"></i>Duração do curso</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Vagas
                            disponíveis</small>
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">Título do Curso</h3>
                        <p>Descrição do curso.</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-primary px-3"
                                style="border-radius: 0 30px 30px 0;">Agendar</a>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="badge bg-primary text-wrap" style="width: 5rem;">
                    Presencial
                </div>
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/maquiadora-23jpeg.jpg" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i
                                class="fa fa-map-marker-alt text-primary me-2"></i>Centro</small>
                        <small class="flex-fill text-center border-end py-2"><i
                                class="fa fa-calendar-alt text-primary me-2"></i>3 dias</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>10
                            Vagas</small>
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">Maquiadora</h3>
                        <p>Turmas disponiveis no institudo embraer</p>
                        <div class="d-flex justify-content-center mb-2">

                            <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 30px 0 30px 0;"
                                id="open-modal" data-toggle="modal" data-target="#modalAgendar">Agendar</a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="badge bg-primary text-wrap" style="width: 5rem;">
                    Presencial
                </div>
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/maquiagem1.jpg" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i
                                class="fa fa-map-marker-alt text-primary me-2"></i>Centro</small>
                        <small class="flex-fill text-center border-end py-2"><i
                                class="fa fa-calendar-alt text-primary me-2"></i>5 dias</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>10
                            Vagas</small>
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">Funcionando</h3>

                        <p>Maquiadora</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-primary px-3"
                                style="border-radius: 0 30px 30px 0;">Agendar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h1 class="mb-5">Cabelereiras</h1>
    </div>
    <div class="row g-4 justify-content-center">

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="badge bg-primary text-wrap" style="width: 5rem;">
                Presencial
            </div>
            <div class="package-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="assets/img/cabeleireira-2.jpg" alt="">
                </div>
                <div class="d-flex border-bottom">
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-map-marker-alt text-primary me-2"></i>Centro</small>
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-calendar-alt text-primary me-2"></i>5 dias</small>
                    <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>10
                        Vagas</small>
                </div>
                <div class="text-center p-4">

                    <h3 class="mb-0">Cabelereiras</h3>

                    <p>Turmas disponiveis na casa do menor.</p>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="#" class="btn btn-sm btn-primary px-3"
                            style="border-radius: 0 30px 30px 0;">Agendar</a>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="badge bg-primary text-wrap" style="width: 5rem;">
                Presencial
            </div>
            <div class="package-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="caminho-da-imagem.jpg" alt="Descrição da imagem">
                </div>
                <div class="d-flex border-bottom">
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-map-marker-alt text-primary me-2"></i>Localização</small>
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-calendar-alt text-primary me-2"></i>Duração do curso</small>
                    <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Vagas
                        disponíveis</small>
                </div>
                <div class="text-center p-4">
                    <h3 class="mb-0">Título do Curso</h3>
                    <p>Descrição do curso.</p>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="#" class="btn btn-sm btn-primary px-3"
                            style="border-radius: 0 30px 30px 0;">Agendar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="badge bg-primary text-wrap" style="width: 5rem;">
                Presencial
            </div>
            <div class="package-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="caminho-da-imagem.jpg" alt="Descrição da imagem">
                </div>
                <div class="d-flex border-bottom">
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-map-marker-alt text-primary me-2"></i>Localização</small>
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-calendar-alt text-primary me-2"></i>Duração do curso</small>
                    <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Vagas
                        disponíveis</small>
                </div>
                <div class="text-center p-4">
                    <h3 class="mb-0">Título do Curso</h3>
                    <p>Descrição do curso.</p>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="#" class="btn btn-sm btn-primary px-3"
                            style="border-radius: 0 30px 30px 0;">Agendar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="badge bg-primary text-wrap" style="width: 5rem;">
                Presencial
            </div>
            <div class="package-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="caminho-da-imagem.jpg" alt="Descrição da imagem">
                </div>
                <div class="d-flex border-bottom">
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-map-marker-alt text-primary me-2"></i>Localização</small>
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-calendar-alt text-primary me-2"></i>Duração do curso</small>
                    <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Vagas
                        disponíveis</small>
                </div>
                <div class="text-center p-4">
                    <h3 class="mb-0">Título do Curso</h3>
                    <p>Descrição do curso.</p>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="#" class="btn btn-sm btn-primary px-3"
                            style="border-radius: 0 30px 30px 0;">Agendar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="badge bg-primary text-wrap" style="width: 5rem;">
                Presencial
            </div>
            <div class="package-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="caminho-da-imagem.jpg" alt="Descrição da imagem">
                </div>
                <div class="d-flex border-bottom">
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-map-marker-alt text-primary me-2"></i>Localização</small>
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-calendar-alt text-primary me-2"></i>Duração do curso</small>
                    <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Vagas
                        disponíveis</small>
                </div>
                <div class="text-center p-4">
                    <h3 class="mb-0">Título do Curso</h3>
                    <p>Descrição do curso.</p>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="#" class="btn btn-sm btn-primary px-3"
                            style="border-radius: 0 30px 30px 0;">Agendar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="badge bg-primary text-wrap" style="width: 5rem;">
                Presencial
            </div>
            <div class="package-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="caminho-da-imagem.jpg" alt="Descrição da imagem">
                </div>
                <div class="d-flex border-bottom">
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-map-marker-alt text-primary me-2"></i>Localização</small>
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-calendar-alt text-primary me-2"></i>Duração do curso</small>
                    <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Vagas
                        disponíveis</small>
                </div>
                <div class="text-center p-4">
                    <h3 class="mb-0">Título do Curso</h3>
                    <p>Descrição do curso.</p>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="#" class="btn btn-sm btn-primary px-3"
                            style="border-radius: 0 30px 30px 0;">Agendar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="badge bg-primary text-wrap" style="width: 5rem;">
                Presencial
            </div>
            <div class="package-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="caminho-da-imagem.jpg" alt="Descrição da imagem">
                </div>
                <div class="d-flex border-bottom">
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-map-marker-alt text-primary me-2"></i>Localização</small>
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-calendar-alt text-primary me-2"></i>Duração do curso</small>
                    <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Vagas
                        disponíveis</small>
                </div>
                <div class="text-center p-4">
                    <h3 class="mb-0">Título do Curso</h3>
                    <p>Descrição do curso.</p>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="#" class="btn btn-sm btn-primary px-3"
                            style="border-radius: 0 30px 30px 0;">Agendar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="badge bg-primary text-wrap" style="width: 5rem;">
                Presencial
            </div>
            <div class="package-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="caminho-da-imagem.jpg" alt="Descrição da imagem">
                </div>
                <div class="d-flex border-bottom">
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-map-marker-alt text-primary me-2"></i>Localização</small>
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-calendar-alt text-primary me-2"></i>Duração do curso</small>
                    <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Vagas
                        disponíveis</small>
                </div>
                <div class="text-center p-4">
                    <h3 class="mb-0">Título do Curso</h3>
                    <p>Descrição do curso.</p>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="#" class="btn btn-sm btn-primary px-3"
                            style="border-radius: 0 30px 30px 0;">Agendar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="badge bg-primary text-wrap" style="width: 5rem;">
                Presencial
            </div>
            <div class="package-item">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="caminho-da-imagem.jpg" alt="Descrição da imagem">
                </div>
                <div class="d-flex border-bottom">
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-map-marker-alt text-primary me-2"></i>Localização</small>
                    <small class="flex-fill text-center border-end py-2"><i
                            class="fa fa-calendar-alt text-primary me-2"></i>Duração do curso</small>
                    <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>Vagas
                        disponíveis</small>
                </div>
                <div class="text-center p-4">
                    <h3 class="mb-0">Título do Curso</h3>
                    <p>Descrição do curso.</p>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="#" class="btn btn-sm btn-primary px-3"
                            style="border-radius: 0 30px 30px 0;">Agendar</a>
                    </div>
                </div>
            </div>
        </div>




    </div>