<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Unidades</h6>
            <h1 class="mb-5">Marque seu horário</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">

                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/senaclogo.jpg" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Centro</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>5 dias</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>8 Profissionais</small>
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">Funcionando</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p>Turmas que deram início ao curso entre Janeiro e Fevereiro de 2023.</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Horários</a>
                            <a href="#" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Agendar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">

                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/cdm.webp" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Miguel Couto</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3 dias</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>5 Profissionais</small>
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">Férias</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p>Realizando cadastro de novos alunos, voltaremos as atividades dia 03 de julho.</p>
                        <div class="d-flex justify-content-center mb-2">

                            <a [routerLink]="'/agendamento'" class="btn btn-sm btn-primary px-3" style="border-radius: 30px 0 30px 0;" id="open-modal" data-toggle="modal" data-target="#modalAgendar">Agendar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">

                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="assets/img/embe.jpg" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>Centro</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>5 dias</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>10 Profissionais</small>
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">Funcionando</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p>Turmas que deram início ao curso entre Setembro e Outubro de 2022.</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a href="#" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Horários</a>
                            <a [routerLink]="'/agendamento'" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Agendar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
