<h3 class="cursos">Cursos</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Manhã</th>
      </tr>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <app-card text="Senac" descricao="Barbeiro"></app-card>
            <h5 class="card-title"></h5>
        </div>
        <div class="col">
            <app-card text="Senac" descricao="Manicure"></app-card>
        </div>
        <div class="col">
            <app-card text="Senac" descricao="Pedicure"></app-card>
            <button><img src="assets/icon/eye.svg" alt=""></button>
            <button>abdc</button>
            <button><img src="assets/icon/x-circle-fill-svg" alt=""></button>
        </div>
    </div>
      <tr>
        <th scope="col">Tarde</th>
      </tr>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <app-card text="Senac" descricao="Barbeiro"></app-card>
            <h5 class="card-title"></h5>
        </div>
        <div class="col">
            <app-card text="Senac" descricao="Manicure"></app-card>
        </div>
        <div class="col">
            <app-card text="Senac" descricao="Pedicure"></app-card>
        </div>
    </div>
      <tr>
        <th scope="col">Noite</th>
      </tr>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <app-card text="Senac" descricao="Barbeiro"></app-card>
            <h5 class="card-title"></h5>
        </div>
        <div class="col">
            <app-card text="Senac" descricao="Manicure"></app-card>
        </div>
        <div class="col">
            <app-card text="Senac" descricao="Pedicure"></app-card>
        </div>
    </div>
    </thead>
   